.header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 10px 0;
  user-select: none;
  cursor: pointer;

  &__logo {
    display: flex;
    align-items: center;
    gap: 5px;
  }
}
.menu {
  display: flex;
  align-items: center;
  gap: 10px;
  list-style: none;

  &__item {
    cursor: pointer;
    padding: 10px;
  }
  &__item:hover {
    background-color: #adadad;
    border-radius: 14px;
  }
  &__button{
    border-radius: 14px;
    border: 1px solid black;
  }
}
